
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 641px) and (max-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 901px) {
    @content;
  }
}

// Container width
$max-content-width: 740px;
$max-site-width: min(90vw, 1100px);